# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# Render / Build
build/
dist/
*.egg-info/
.coverage
coverage.xml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
